.selector-for-some-widget {
  box-sizing: content-box;
}
body{
	background-image:url("https://media.npr.org/assets/img/2020/06/10/gettyimages-200199027-001-b5fb3d8d8469ab744d9e97706fa67bc5c0e4fa40.jpg");
	background-position: center;
    background-size:cover;
    text-align: center;
}
iframe{
    margin:50px;
}
.twitter-timeline{
    margin:50px
}
#accordionFlushExample{
    background-color: white;
    opacity:88%;
    margin:40px;
    font-size:25px;
    
}